html, body {
  background-color: ghostwhite !important;
}

body {
  text-align: center;
  font-family: 'Helvetica', serif;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.h1 {
  font-weight: 600;
  font-size: 1.3em;
  color: rgb(89, 90, 90);
  line-height: 1;
}

.h2 {
  font-size: 1.2em;
  font-weight: lighter;
  line-height: 1.2;
  margin: 30px;
}

@media only screen and (min-width: 800px) {
  .h1 {
    font-weight: 400;
    font-size: 2.5em;
    line-height: 0.2;
  }

  .h2 {
    font-size: 1.5em;
  }

}

@media only screen and (min-width: 1000px) {
  .h2 {
    font-size: 1.8em;
    line-height: 1;
  }
}
